.nazwaszkolenia {
    font-size:40pt;
    text-align: center;
    padding-bottom: 30pt;
}

li.lista {
    list-style: circle;
}

p {
    font-weight: bold;
    font-size: 14pt;
}

.modul{
    font-size:12pt;

}

.zawartosc {
    padding-bottom:15pt;
}